extends layout
block navbar
    include navbar.pug
block content
    section 
        .row.d-flex.justify-content-center
            .col-md-6
                form(method="POST" action="/api/form")
                    h4 Remitente 
                    .row.g-3 
                        .col-sm 
                            .form-outline.mb-2
                                input#valSenderName.form-control(type='text' name='senderName')
                                label.form-label(for='valSenderName') Nombre            
                    .row.g-3
                        .col-sm
                            .form-outline
                                input#valSenderStreet.form-control(type='text' name='senderStreet')
                                label.form-label(for='valSenderStreet') Dirección
                        .col-sm-3
                            .form-outline
                                input#valSenderNumStreet.form-control(type='text' name='senderNumStreet')
                                label.form-label(for='valSenderNumStreet') número
                        .col-sm-2
                            .form-outline.mb-4
                                input#valSenderCp.form-control(type='text' name='senderCp')
                                label.form-label(for='valSenderCp') CP
                    h4 Destinatario
                    .row.g-3 
                        .col-sm
                            .form-outline.mb-2
                                input#valReceiverName.form-control(type='text' name='receiverName')
                                label.form-label(for='valReceiverName') Nombre
                    .row.g-3
                        .col-sm 
                            .form-outline
                                input#valReceiverStreet.form-control(type='text' name='receiverStreet')
                                label.form-label(for='valReceiverStreet') Dirección
                        .col-sm-3
                            .form-outline
                                input#valReceiverNumStreet.form-control(type='text' name='receiverNumStreet')
                                label.form-label(for='valReceiverNumStreet') número
                        .col-sm-2
                            .form-outline.mb-4
                                input#valReceiverCp.form-control(type='text' name='receiverCp')
                                label.form-label(for='valReceiverCp') CP
                    h4 Correspondencia 
                    .btn-group.mb-4
                        input#oca.btn-check(type='radio' name='correo' autocomplete='off' checked='' value='oca')
                        label.btn.btn-secondary(for='oca') Oca

                        input#andreani.btn-check(type='radio' name='correo' autocomplete='off' value='andreani')
                        label.btn.btn-secondary(for='andreani') Andreani

                        input#argentino.btn-check(type='radio' name='correo' autocomplete='off' value='argentino')
                        label.btn.btn-secondary(for='argentino') Argentino

                        input#entrada.btn-check(type='radio' name='correo' autocomplete='off' value='entrada')
                        label.btn.btn-secondary(for='entrada') Entrada
                    .row.g-3 
                        .col-sm 
                            .form-outline
                                input#valCode.form-control(type='text' name='code')
                                label.form-label(for='valCode') Código
                        .col-sm
                            .form-outline.mb-4
                                input#valAcuse.form-control(type='text' name='acuse')
                                label.form-label(for='valAcuse') Acuse
                    .row.d-flex.justify-content-center
                        .col-sm-5
                            button.btn.btn-primary.btn-block(type="submit") Enviar