doctype html
html 
    head 
        meta(charset="utf-8")
        title Cosas del correo 
    body
        div 
            form(method="POST" action="/api/form")
                div 
                    label(for="fecha") Fecha:
                    p 
                        input(type="text" placeholder="una fecha" name="fecha")
                div 
                    label(for="remitente") Remitente:
                    p 
                        input(type="text" placeholder="un remitente" name="remitente")
                div 
                    label(for="destinatario") Destinatario:
                    p 
                        input(type="text" placeholder="un destinatario" name="destinatario")
                div 
                    button(type="submit") Guardar