extends layout

block navbar

    include navbar.pug
    
block content

    h1 Correo de Mayordomía
    div.container 
    a.nav-link.active(aria-current='page' href='http://localhost:9000/api/form')
        button.btn.btn-outline-primary(type='button' data-mdb-ripple-color='dark') Nuevo correo
