doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title
    //- link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet")
    
  body

    block navbar
    block content
 
   
    //- link(rel='stylesheet', href='/js/jquery.min.js')
    //- link(rel='stylesheet', href='/js/popper.js')
    //- link(rel='stylesheet', href='/js/bootstrap.min.js')
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js")