nav.navbar.navbar-expand-lg.navbar-light.bg-light
  // Container wrapper
  .container-fluid
    span.navbar-brand.mb-0.h1 Mayordomia 2.0
    // Toggle button
    button.navbar-toggler(type='button' data-mdb-toggle='collapse' data-mdb-target='#navbarCenteredExample' aria-controls='navbarCenteredExample' aria-expanded='false' aria-label='Toggle navigation')
      i.fas.fa-bars
    // Collapsible wrapper
    #navbarCenteredExample.collapse.navbar-collapse.justify-content-center
      // Left links
      ul.navbar-nav.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='http://localhost:9000/api/home') Home
        li.nav-item
          a.nav-link(href='http://localhost:9000/api/correo/oca') Oca
        li.nav-item
          a.nav-link(href='http://localhost:9000/api/correo/andreani') Andreani
        li.nav-item
          a.nav-link(href='http://localhost:9000/api/correo/argentino') Argentino
        li.nav-item
          a.nav-link(href='http://localhost:9000/api/correo/entradas') Entradas
      // Left links
    // Collapsible wrapper
  // Container wrapper
