extends layout
block navbar
    include navbar.pug
block content

    table.table.table-striped.table-hover
        thead
            tr
                th(scope='col') #
                th(scope='col') Fecha
                th(scope='col') Remitente
                th(scope='col') Direccion
                th(scope='col') Destinatario
                th(scope='col') Direccion
                th(scope='col') Codigo
                th(scope='col') Acuse
        tbody
        each row, index in rows
            tr
                th(scope='row') #{index+1}
                td #{row.date}
                td #{row.senderName}
                td #{row.senderStreet}, #{row.senderNumStreet} (CP #{row.senderCp})
                td #{row.receiverName}
                td #{row.receiverStreet}, #{row.receiverNumStreet} (CP #{row.receiverCp})
                td #{row.code}
                td #{row.acuse}