extends layout
block navbar
  include navbar.pug
block content
  .container
    section.mx-auto.my-5(style='max-width: 23rem;')
      .card.card-form.mt-2.mb-4
        .card-body.rounded-top.pink.darken-4
          h3.font-weight-bold.text-center.text-uppercase.text-white.my-4 Sign up
          form.pb-5.px-2(_lpchecked='1')
            .d-flex.justify-content-start.align-items-center.mb-4
              i.far.fa-user.fa-lg.text-white.fa-fw.me-3
              .form-outline.form-white.w-100
                input#form1Example1.form-control(type='text')
                label.form-label(for='form1Example1') First name
            .d-flex.justify-content-start.align-items-center.mb-4
              i.far.fa-hand-point-right.fa-lg.text-white.fa-fw.me-3
              .form-outline.form-white.w-100
                input#form1Example2.form-control(type='text')
                label.form-label(for='form1Example2') Last name
            .d-flex.justify-content-start.align-items-center.mb-4
              i.far.fa-envelope.fa-lg.text-white.fa-fw.me-3
              .form-outline.form-white.w-100
                input#form1Example3.form-control(type='text')
                label.form-label(for='form1Example3') E-mail
            .d-flex.justify-content-start.align-items-center.pb-3
              i.far.fa-star.fa-lg.text-white.fa-fw.me-3
              .form-outline.form-white.w-100
                input#form1Example4.form-control(type='password')
                label.form-label(for='form1Example4') Password
                .form-helper.text-white At least 8 characters and 1 digit
        .card.card-form-2.mb-0.z-depth-0
          .card-body
            form.text-center
              .form-check.red-checkbox.my-3
                input#flexCheckDefault1.form-check-input.ms-auto(type='checkbox' value='' checked='')
                label.form-check-label(for='flexCheckDefault1')
                  | Subscribe to our newsletter
              button.btn.btn-outline-danger.btn-rounded.btn-block.my-4.z-depth-0(type='submit') Sign in
              p or sign up with:
              i.fab.fa-lg.fa-facebook-f.pink-accent-text.px-2
              i.fab.fa-lg.fa-twitter.pink-accent-text.px-2
              i.fab.fa-lg.fa-linkedin-in.pink-accent-text.px-2
              i.fab.fa-lg.fa-github.pink-accent-text.px-2
              hr
              p
                | By clicking
                em Sign up
                |  you agree to our
                a.pink-accent-text(href='#!' target='_blank') terms of service
                |  and
                a.pink-accent-text(href='#!' target='_blank') terms of service
                | .
